<h2>Add New Celebrity</h2>

<form action="/person/new" method="post">
  <div>
    <label>First Name</label>
    <input name="firstname" placeholder="John" />
  </div>
  <div>
    <label>Last Name</label>
    <input name="lastname" placeholder="Doe" />
  </div>
  <!-- <div>
    <label>Gender</label>
    <input name="gender" type="radio" value="male" /> Male
    <input name="gender" type="radio" value="female" /> Female
  </div> -->
  <div>
    <!-- <label>Designation</label> -->
    <input name="designation" type="radio" value="director" /> Director
    <input name="designation" type="radio" value="actor" /> Actor
  </div>

  <button type="submit">Add Celebrity</button>
</form>